body {
  font-family: 'Poppins', sans-serif;
  margin: 10px;
  padding: 0;
  background-image: url('../img/Fondo-de-pantalla-Escritorio.png');
  background-size: 100% 100%;
  height: 100vh;


}	
* {
  box-sizing: border-box;
}



button {
  border: none;
    outline: none;
    background-color: #e75c5c;
    padding: 20px 35px; /* Ajustamos el tamaño del botón */
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #fe9b9b;
    position: relative;
    margin: 20px; /* Mantenemos el margen para que no esté pegado al borde de la pantalla */
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
}
.button-Extra {
  border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 20px 35px; /* Ajustamos el tamaño del botón */
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    position: relative;
    margin: 20px; /* Mantenemos el margen para que no esté pegado al borde de la pantalla */
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
}




#atras {
  background: url(../img/flecha-izquierda.png) no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #6c5ce7;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    margin: 20px; /* Mantenemos el margen para que no esté pegado al borde de la pantalla */
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 35px;
}
#atras:hover {
  /* Estilos del botón al pasar el mouse */
  background-color: #3a22eb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 0px 0px #a29bfe;
}


button:hover {
  /* Estilos del botón al pasar el mouse */
  background-color: #eb2222;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 0px 0px #fe9b9b;
}
.button-Extra:hover {
  /* Estilos del botón al pasar el mouse */
  background-color: #3a22eb;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 0px 0px #a29bfe;
}
#atras:hover::after {
  /* Animación de la flecha al pasar el mouse */
  transform: translate(-50%, -50%) scale(1.5); /* Ajustamos la escala de la flecha */
  right: 15px; /* Ajustamos la posición de la flecha */
}
button:active {
  /* Estilos del botón al hacer clic */
  background-color: #6c5ce7;
  transform: translateY(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.527);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal-container titulo{
    display:block;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {

    background-color: #fdc781;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input[type="number"]{
  background-color: #f8d5a7;
  border-radius: 20px;
  border: none;
}

#tabla{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 4;
}
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Hora input[type="number"] {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom: 10px;
    width: 50px;
    height: 90px;
    text-align: center;
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.boton, #close {
    margin-top: 10px;
    width: 100px;
}
.boton{
  background: url(../img/okey.png) no-repeat center center;
  background-size:cover; 
  border-radius:100% ;
  width: 100px;
  height: 100px;
}


label {
    margin: 10px 0;
}


/*Todo lo que le sigue*/
.ConenedorDeTodo{
display: grid;
grid-template-columns: 3;
grid-template-rows: 4;
border: 2px rgba(167, 89, 89, 0.651);
padding: 10px;
background-color: rgba(116, 116, 116, 0.781);
border-radius: 10px;

}
#Titulo{
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 1;
    text-align: center;
}
.Tabla-Horarios{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 2;
    font-size: 40px;
    width: 100%;
    border: 2px rgba(230, 238, 161, 0.938);
    border-radius: 10px;
    margin: auto;
    background-color: rgba(241, 241, 167, 0.938);
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.tabla{
    width: 100%;

}

#tabla-horarios { 
    width: 100%;
    border-style: solid; 
    border-top-width: 3px; 
    border-right-width: 3px; 
    border-bottom-width: 3px; 
    border-left-width: 3px;
    padding-left: 10%;
    padding-right: 10%;
}
.boton-accionar{
    grid-column-start:3 ;
    grid-column-end: 3;
    grid-row-start: 2;
    border: 10%;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 5%;
}
#boton-3{
    border-radius: 100%;
    background-color: hsl(247, 74%, 63%) ;
    border: 0;
    width: auto;
    height: auto;
}
#boton-3:hover {
  /* Estilos del botón al pasar el mouse */
  background-color: #6c5ce7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 0px 0px #a29bfe;
}

.Botttton{
    height:100px;
    width: 100px;
}
.Boton-Abrir{
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start: 3;
    padding: 3%;
    margin: auto;
    text-align: center;
 }
 .boton{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.boton:hover {
  /* Estilos del botón al pasar el mouse */
  background-color: #108b64;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 0px 0px rgb(128, 177, 128);
}



#open{
    background-color: #fdff9b;
    color: black;
}
.Porciones{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start: 3;
    padding: 3%;
    margin: auto;
    text-align: center;
 }


 .modal_container{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;


 }
 #delay{
    width: 25px;
    height: 50px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }


 #agregar-horas{
    margin: auto;
    text-align: center;

 }
 #porcioness{
    border: 0;
    background-color: rgb(102, 187, 243);
    margin-top: 10px;
    width: 100px;
    text-align: center;
    padding: 10px;
 }

 @media (max-width: 700px) {
  body{
    background-image: url('../img/Fondo-de-Pantalla-Celular.png');
    background-size: 100% 100%;
  }
    .ConenedorDeTodo {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  
    #Titulo {
      grid-column-start: 1;
      grid-row-start: 1;
      text-align: center;
    }
  
    .Tabla-Horarios {
      grid-column-start: 1;
      grid-row-start: 2;
      font-size: 30px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      width: 100%;
      border: 2px rgba(230, 238, 161, 0.938);
      border-radius: 10px;
      background-color: rgba(241, 241, 167, 0.938);
      font-weight: bold;
      text-align: center;
    }
  
    #tabla-horarios {
      width: 100%;
      border-style: solid;
      border-top-width: 3px;
      border-right-width: 3px;
      border-bottom-width: 3px;
      border-left-width: 3px;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .boton-accionar {
      grid-column-start: 1;
      grid-row-start: 4;
      border: 10%;
      width: 50%;
      margin: auto;
      text-align: center;
      padding: 5%;
    }
  
    #boton-3 {
      border-radius: 100%;
      background-color: hsl(247, 74%, 63%) ;
      border: 0;
      width: auto;
      height: auto;
    }
  
    .Botttton {
      height: 100px;
      width: 100px;
    }
  
    .Boton-Abrir {
      grid-column-start: 1;
      grid-row-start: 3;
      padding: 3%;
      margin: auto;
      text-align: center;
    }
  }

