
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-image: url('img/fondo1.jpg');
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .container {
    width: 400px;
    background-color: #faf6dd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner-container {
    background-color: #f3eb9f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    animation: fadeIn 2s ease;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .button-container div {
    margin: 20px;
  }
  
  #logout {
    border: none;
      outline: none;
      background-color: #e75c5c;
      padding: 20px 35px; /* Ajustamos el tamaño del botón */
      color: #fff;
      border-radius: 5px;
      transition: all ease 0.1s;
      box-shadow: 0px 5px 0px 0px #fe9b9b;
      position: relative;
      margin: 20px; /* Mantenemos el margen para que no esté pegado al borde de la pantalla */
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
  }
  #logout:hover {
    /* Estilos del botón al pasar el mouse */
    background-color: #eb2222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 0px 0px #fe9b9b;
  }
  
  input[type="button"] {
    width:150px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 15px 50px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  input[type="button"]:hover {
    background-color: #3a22eb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  input[type="button"]:active {
    background-color: #6c5ce7;
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  .logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 60px; 
    height: 60px; 
    object-fit: cover;
    background-color: transparent; /* propiedad para que se muestre trasparente el fondo(no funciona) */
    z-index: 1; 
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 50px;
    background-color: #f3eb9f; /* Color de fondo del footer, igual que el de la página */
    padding: 20px;
    text-align: center;
    color: #333; /* Color de texto del footer */
  }
  
  .footer-container {
    max-width: 400px; /* Ancho máximo del contenido del footer */
    margin: 0 auto; /* Centrar el contenido del footer */
    padding: 20px;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: #6c5ce7; /* Color de los enlaces del footer */
    text-decoration: none;
  }
  
  a:hover {
    color: #3a22eb; /* Color de los enlaces del footer al pasar el mouse */
  }