@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-image: url("img/fondo3.jpg");
    font-family: 'Roboto', sans-serif; /* Modern, clean font */
    color: black;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333; /* Darker text color for contrast */
    margin: 20px 0;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#video-frame {
    width: 60%;
    max-width: 480px;
    border: 5px solid #91df6d; /* Border color matching the theme */
    border-radius: 15px;
    transition: filter 0.4s;
}

.background-standby {
    background-color: black;
  }

.switch-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5em;
    height: 2.5em;
    user-select: none;
}

.switch .cb {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #666; /* Initial background color */
    border-radius: 1.25em;
    transition: background-color 0.4s;
}

.toggle::before {
    position: absolute;
    content: "";
    height: 2.3em;
    width: 2.3em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.switch input:checked + .toggle {
    background-color: #91df6d; /* Color when toggled on */
}

.switch input:checked + .toggle::before {
    transform: translateX(2.5em);
}

.toggle .left, .toggle .right {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.toggle .left {
    left: 0;
}

.toggle .right {
    right: 0;
    color: #333;
}
button {
    /* Estilos del botón */
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 20px 35px; /* Ajustamos el tamaño del botón */
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    position: relative;
    margin: 20px; /* Mantenemos el margen para que no esté pegado al borde de la pantalla */
  }
  
  button::after {
    /* Estilos de la flecha */
    content: "\2190"; /* Código Unicode de la flecha hacia la izquierda */
    font-size: 24px; /* Ajustamos el tamaño de la flecha */
    position: absolute;
    top: 50%;
    left: 50%; /* Centramos la flecha horizontalmente */
    transform: translate(-50%, -50%); /* Centramos la flecha verticalmente */
    transition: all ease 0.2s;
  }
  
  button:hover {
    /* Estilos del botón al pasar el mouse */
    background-color: #3a22eb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  button:hover::after {
    /* Animación de la flecha al pasar el mouse */
    transform: translate(-50%, -50%) scale(1.5); /* Ajustamos la escala de la flecha */
    right: 15px; /* Ajustamos la posición de la flecha */
  }
  
  button:active {
    /* Estilos del botón al hacer clic */
    background-color: #6c5ce7;
    transform: translateY(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
  
  button:active::after {
    /* Animación de la flecha al hacer clic */
    transform: translate(-50%, -50%) scale(1);
    right: 25px; /* Ajustamos la posición de la flecha */
  }
  